<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Cangyao</h1></a>
        <p>Cangyao's Awesome blog site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create" class="nav-accent">Create New Blog</a></li>
    </ul>
</nav>