<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, qui. Minus sapiente quos voluptates veritatis asperiores ipsam, facere minima vel expedita dolorem porro earum tempora numquam, molestiae vero at. Molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, nostrum molestiae. Blanditiis adipisci nisi dolor molestiae! Hic nulla vero a omnis tempore similique adipisci enim error asperiores totam, in id?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis quas aliquid ut, ipsa hic deserunt laborum ducimus necessitatibus obcaecati nemo! Fuga aperiam qui cum pariatur possimus eaque! Obcaecati, optio.</p>
        
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>